body
{
    /* border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 150px;
    flex-wrap: wrap;
    padding : 10vh; */
    margin: 0;
    font-family: 'Trebuchet MS';
}
.cards
{
    border: 8px solid black;
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 150px;
    flex-wrap: wrap;
    padding : 10vh;
    
}
.navbar
{
    background-color: black;
    padding : 3vh;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin-top : 0vh;
    font-size: 2.1vh;
    
}
.navbar a 
{
    color : white;
    padding : 2vh;
    text-decoration: none;
}

.navbar a:hover
{
    background-color : grey;
}
.section
{
    height: 400px;
    width: 400px;
    /* background-color: blue; */
    font-size: 40pt;
}
.section:hover
{
    transform: scale(1.01);
    filter: drop-shadow(8px 8px 10px grey);
}